*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
.logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 27%;
  border: 3px solid white;
  border-radius: 50%;
  margin: 5px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
.nav-list{
  width: 70%;
  /* background-color: red; */
  display: flex;
  align-items: center;
}
.nav-list li{
  list-style: none;
  padding: 30px 25px;
}
.nav-list li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-list li a:hover{
  color: aquamarine;
}
.rightNav{
  /* background-color:greenyellow ; */
  width: 30%;
  text-align: right;
  padding: 0 25px;
}
#search{
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}
.background{
  background: rgba(0, 0, 0, 0.6);
  background-image: url(/images/pexels-mockupeditorcom-205316.jpg);
  background-size: cover;
  background-blend-mode: darken;  
  /* opacity: .3px; */
}
.firstSection{
  height: 100vh;
}
.box-main{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
  margin: auto;
  height: 80%;
}
.firstHalf{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondHalf{
  width: 40%;
  /* align-items: flex-end; */
}
.secondHalf img{
  width: 80%;
  border: 4px solid white;
  border-radius: 60%;
  display: block;
  margin: auto;
  /* padding: 10px; */
  height: 200px;
  /* align-items: flex-end; */
}
.text-big{
  font-size: 41px;
  margin: 15px;
}
.text-small{
  font-size: 18px;
}
.btn{
  padding: 8px 20px;
  margin: 7px 3px;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  background: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-sm{
  padding: 6px 10px;
  vertical-align: middle;
  font-size: 16px;
}
.btn-dark{
  color: #000;
  border:2px solid grey;
  text-align: center;
}
.section{
  /* height: 400px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.section-left{
  flex-direction: row-reverse;
}
.paras{
  padding: 0 65px;
}
.thumbnail img{
  width: 300px;
  height: 300px;
  margin: 15px;
}
.sectionsubtag{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.contact{
  background-color: beige;
  height: 100%;
  text-align: center;
}
.text-center{
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.form{
  max-width: 62%;
  margin:20px auto;
}
.form-input{
  width: 100%;
  font-size: 18px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 13px 0;
  padding: 6px 5px;
}
.text-footer{
  text-align: center;
  padding: 20px 0;
  /* font-size: 35px; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#fff;
}
.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line{
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}
@media only screen and (max-width: 1140px) {
  .nav-list{
    flex-direction: column;
  }
  .navbar{
    flex-direction: column;
    transition: all 0.3s ease-out;
    max-height: 472px;
  }
  .rightNav{
    text-align: center;
  }
  .box-main{
    flex-direction: column-reverse;
    max-width:100%;
  }
  #search{
    width: 100%;
  }
  .burger{
    display: block;
  }
   .h-nav-resp{ 
    height: 72px;
  } 
  .v-class-resp{
    opacity: 0;
  }
  .section{
    flex-direction: column-reverse;
  }
  .text-big{
    text-align: center;
  }
  .text-small{
    text-align: center;
  }
  .btn{
    text-align: center;
  }
  .paras{
    padding: 0px;
  }
}